<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH-Heroes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/babbage">BABBAGE</a></li>
                <li><a href="/berners-lee">BERNERS LEE</a></li>
                <li><a href="/clarke">CLARKE</a></li>
                <li><a href="/hamilton">HAMILTON</a></li>
                <li><a href="/hopper">HOPPER</a></li>
                <li><a href="/lovelace">LOVELACE</a></li>
                <li><a href="/turing">TURING</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article>
                <h1>¡Bienvenidos a la historia de los héroes de la programación!</h1>
                <aside>
                  <!--   <img src="/img/Babbage.jpg" alt="Imagen de Babbage">
                    <img src="/img/Berners-Lee.jpg" alt="Imagen de Berners-Lee">
                    <img src="/img/Clarke.jpg" alt="Imagen de Clarke">
                    <img src="/img/Hamilton.jpg" alt="Imagen de Hamilton">
                    <img src="/img/Hopper.jpg" alt="Imagen de Hopper">
                    <img src="/img/Lovelace.jpg" alt="Imagen de Lovelace">
                    <img src="/img/Turing.jpg" alt="Imagen de Alan Turing"> -->
                </aside>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h4>Página diseñada y creada por Facundo Olave - 2022</h4>
        </section>
    </footer>
</body>
</html>
